<div class="navbar">
  <mat-toolbar class="navbar" role="navigation" color="black">
    <button mat-button (click)="openMovies()">
      <img
        src="/assets/ArtCine.png"
        alt="ArtCine Logo"
        height="auto"
        (click)="openMovies()"
      />
    </button>
    <div class="profile-logout-buttons">
      <span class="example-spacer"></span>
      <a mat-button (click)="openProfile()" class="nav-buttons"
        >{{ this.username }}<mat-icon>account_circle</mat-icon></a
      >
      <a mat-button (click)="logoutUser()" class="nav-buttons logout"
        >Logout<mat-icon>logout</mat-icon></a
      >
    </div>
  </mat-toolbar>
</div>
