.navbar {
  .mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px; /* Adjust padding as needed */
    background-color: rgb(255, 255, 255); /* Set background color */
    color: white; /* Set text color */
    position: relative; /* Ensure the logo and buttons stay within the navbar */
  }

  .profile-logout-buttons {
    display: flex;
    align-items: center;
  }

  .example-spacer {
    flex: 1; /* This will push the profile and logout buttons to the end of the navbar */
  }

  .nav-buttons {
    color: rgb(0, 0, 0); /* Set text color for buttons */
    text-transform: uppercase; /* Optional: Convert text to uppercase */
    margin-left: 10px; /* Add margin between buttons */
    border: 1px solid #000000;

    &:last-child {
      margin-left: 20px; /* Increase margin between profile and logout buttons */
    }
  }

  /* Style the logo button */
  button {
    background-color: transparent; /* Make the button background transparent */
    border: none; /* Remove button border */
    cursor: pointer; /* Set cursor to pointer */
    img {
      height: 75px; /* Set logo height */
      margin-right: 15px; /* Add margin to the right of the logo */
      margin-top: 15px;
    }
  }
}

/* Adjust styles for smaller screens */
@media screen and (max-width: 768px) {
  .mat-toolbar {
    flex-direction: row; /* Stack items vertically on smaller screens */
    position: absolute;
  }

  .example-spacer {
    // flex-basis: auto; /* Reset flex-basis for smaller screens */
    margin-top: 15px; /* Add margin to the top of the buttons */
  }

  .nav-buttons {
    margin-top: 5px; /* Adjust margin for smaller screens */
    width: 5px;
    height: 25px;
    font-size: 12px;
    padding: 10px 15px;
  }
  button {
    img {
      height: 100px; /* Reduce logo height for smaller screens */
      margin-right: 5px; /* Remove margin to the right of the logo */
      margin-top: 15px;
    }
  }
}
