// Import Angular Material styles
@use "@angular/material" as mat;
// Target the parent container of the mat-card elements (e.g., a div)
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px; /* Gap between grid items */
  padding: 20px; /* Add padding to the container */
  background-color: lightskyblue;
}

.movies-grid mat-card {
  background-color: slategray; /* Semi-transparent black background color for cards */
  padding: 20px; /* Add padding to the movie cards */
  border-radius: 10px; /* Add border-radius for rounded corners */
  color: white; /* Set text color to white */
  transition: background-color 0.3s ease; /* Smooth transition effect */
}

.movies-grid mat-card:hover {
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Darker semi-transparent black background color on hover */
}

// Target the mat-card component
mat-card {
  padding: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Box shadow for depth effect */
  align-items: center;
  margin-bottom: 8px;
}

.mat-title {
  font-size: 1.25em; /* Set font size */
  font-weight: bold; /* Set font weight to bold */
  margin-bottom: 10px; /* Add some spacing below the title */
  height: 36px;
}

// Target the mat-dialog-content within mat-card
.button-container {
  display: flex;
  justify-content: center; /* Arrange buttons with space around */
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}
.button-container :last-child {
  position: absolute;
  top: 10px;
  right: 10px;
  margin-top: 15px;
}
.button-container mat-icon {
  font-size: 14px;
  position: absolute;
}
// Target the mat-card-title within mat-dialog-content
mat-card-title {
  font-size: 15px;
  font-weight: 200px;
  margin-bottom: 10px; /* Add some spacing below the title */
}

// Target the mat-card-subtitle within mat-dialog-content
mat-card-subtitle {
  img {
    width: 350px;
    object-fit: cover; /* Maintain aspect ratio and cover the container */
    border-radius: 10px; /* Add border-radius for rounded corners */
    justify-content: center;
    align-items: center;
  }
}

.custom-button {
  background-color: cornflowerblue; /* Button background color */
  color: white;
  font-weight: 150px;
  font-size: 12px;
}
.mat-icon {
  transform: scale(1.5); /* Scale mat-icons */
}
// Adjust styles for smaller screens
@media screen and (max-width: 768px) {
  .movies-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(230px, 1fr)
    ); /* Adjust grid columns for smaller screens */
  }

  mat-dialog-content {
    max-width: 200px; /* Adjust max-width for smaller screens */
  }
}
