// Import Angular Material styles
@use "@angular/material" as mat;

.synopsis-card-header {
  position: relative;
  background-color: white;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.synopsis-card-title {
  font-size: 26px;
  color: black;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.synopsis-card-content {
  padding: 20px;
  font-size: 18px;
  color: black;
  background-color: white;
  margin-top: -20px;
  justify-content: center;
}
.fill-remaining-space {
  flex: 1 1 auto;
}
.dir-close-button {
  height: 25px;
  width: 25px;
  font-weight: bold;
  background-color: black;
  border-radius: 1px;
  color: white;
  padding-bottom: 5px;
  cursor: pointer;
}
