@use "@angular/material" as mat;

.main {
  background-color: lightskyblue;
}

.navbar {
  background-color: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.user-profile-container {
  display: flex;
  justify-content: space-between;
  margin: 0 10%;
}

.user-profile {
  color: black;
  font-size: medium;
  max-width: 300px;
}

h1 {
  font-size: 35px;
  font-weight: 500;
  margin-left: 550px;
  margin-bottom: 50px;
}

.user-info-display {
  border-bottom: 1px solid rgba(73, 72, 72, 0.25);
  padding: 0.9em 0;
  margin: 0.9em 0;
}

.user-info-display label {
  font-size: 16px;
  color: #c0c0c0;
}

.user-info-display span {
  position: relative;
  left: 10%;
  font-size: 14px;
  color: #c0c0c0;
}

.user-container {
  color: hsl(0, 0%, 99%);
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  max-width: 600px;
}

.user-info,
.update-user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  padding: 15px;
  border-radius: 10px;
}

.update-user-info h2 {
  margin-bottom: 10px;
}

.example-form {
  display: flex;
  flex-direction: column;
}

.update-user {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  flex-wrap: wrap;
  margin: 5px;
  padding: 10px;
  width: 70%;
}

.button-container {
  display: flex;
  gap: 10px;
}

button {
  width: 50%;
}

.update-button {
  background-color: #5f0f4000;
  color: white;
}

.spacer {
  height: 150px; // Adjust the height to create desired space
}

/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.content {
  scroll-behavior: smooth;
  margin-top: 20px;
}

.content h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 35px;
  font-weight: 500;
}

/* Favorite Movies Section */
.favorite-movies-section {
  display: flex;
  flex-direction: column;
  width: calc(
    100% - 320px
  ); /* Adjust width considering user-profile max-width */
  margin-left: 10px;
}

.favorite-movies-container {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
  min-height: 100vh;
  align-items: center;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.favorite-movies-container .movie-cards {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 20px;
}

.movie-cards .card {
  position: relative;
  color: white;
  overflow: hidden;
  border-radius: 5px;
}

img {
  width: 100%;
  height: 100%;
  border: 6px solid white;
  transition: all 0.5s;
}

img:hover {
  transform: translateX(10px) translateY(-10px) scale(1.1);
}

.card .cardContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  padding: 45% 4% 0 4%;
  opacity: 0;
  transition: all 0.2s;
}

.movie-cards .card:hover .cardContent {
  opacity: 1;
}

mat-card-header {
  position: absolute;
  align-items: center;
  top: 0;
  margin-top: 10px;
}

mat-card-title {
  font-size: 1.8em;
  font-weight: 500;
  margin-bottom: 10px;
  align-items: center;
}

mat-card-subtitle {
  color: white;
  font-size: 1.4em;
  font-weight: 300;
  margin-bottom: 10px;
}

.actions {
  //display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  font-size: 1.2em;
  opacity: 0;
  width: 100%;
  height: 80%;
  transition: 1s ease out;
}

.actions button {
  width: 60%;
}

mat-icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
  transition: all 0.5s;
}

mat-icon:hover {
  transform: scale(1.5);
}

.actions:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .user-profile-container {
    flex-direction: column;
  }

  .user-container {
    margin: 20px 5%;
  }

  h1 {
    margin-left: 5%;
  }

  .update-user {
    width: 90%;
  }

  button {
    width: 70%;
    font-size: 12px;
  }

  .favorite-movies-section {
    width: 100%;
    margin-left: 0;
  }
}
