<div class="main">
  <!-- Navbar component -->
  <app-navbar></app-navbar>

  <!-- User profile section -->
  <div class="user-profile-container">
    <div class="user-profile">
      <!-- User information display section -->
      <div class="user-container">
        <h2>User Info</h2>

        <!-- Display user's name -->
        <div class="user-info-display">
          <h2>{{ userData.username }}</h2>
        </div>

        <!-- Display user's birthday -->
        <div class="user-info-display">
          <span>{{ userData.birthday | date : "longDate" }}</span>
        </div>

        <!-- Display user's email -->
        <div class="user-info-display">
          <h2>{{ userData.email }}</h2>
        </div>

        <!-- User information update form -->
        <div class="update-user-info">
          <h2>Update User Info</h2>
          <form (ngSubmit)="updateUser()" class="example-form">
            <!-- Input field for user's name -->
            <mat-form-field class="example-full-width">
              <mat-label>Name</mat-label>
              <input
                shouldLabelFloat="true"
                matInput
                type="text"
                [(ngModel)]="formUserData.username"
                name="username"
                placeholder="Name"
              />
            </mat-form-field>

            <!-- Input field for user's birthday -->
            <mat-form-field class="example-full-width">
              <mat-label>Birthday</mat-label>
              <input
                matInput
                type="date"
                [(ngModel)]="formUserData.birthday"
                name="birthday"
                placeholder="Birthday"
              />
            </mat-form-field>

            <!-- Input field for user's email -->
            <mat-form-field class="example-full-width">
              <mat-label>Email</mat-label>
              <input
                matInput
                type="email"
                [(ngModel)]="formUserData.email"
                name="email"
                placeholder="Email"
              />
            </mat-form-field>

            <!-- Update and Delete User buttons -->
            <div class="button-container">
              <button mat-raised-button type="submit" color="primary">
                Update
              </button>
              <button mat-raised-button color="warn" (click)="deleteUser()">
                Delete User
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <!-- Favorite movies section -->
    <div class="favorite-movies-section">
      <!-- Container for favorite movies -->
      <div class="favorite-movies-container">
        <h2>Favorite Movies</h2>
        <!-- Message when there are no favorite movies -->
        <div *ngIf="favoriteMovies.length === 0" class="movie-cards">
          <p>No favorite movies found!</p>
        </div>

        <!-- Display favorite movies -->
        <div class="movie-cards">
          <mat-card *ngFor="let movie of favoriteMovies" class="card">
            <!-- Movie image -->
            <img src="{{ movie.imageurl }}" alt="{{ movie.title }}" />

            <!-- Movie details -->
            <div class="cardContent">
              <mat-card-header>
                <mat-card-title>{{ movie.title }}</mat-card-title>
                <mat-card-subtitle>{{ movie.director.name }}</mat-card-subtitle>
                <div class="space"></div>
                <div class="space"></div>
                <mat-card-subtitle>{{
                  movie.genre.names.join(", ")
                }}</mat-card-subtitle>

                <div class="space"></div>
                <div class="space"></div>
                <mat-card-subtitle>{{ movie.description }}</mat-card-subtitle>
              </mat-card-header>

              <!-- Movie actions (Genre, Director, Synopsis, Favorite) -->
              <mat-card-actions class="actions">
                <!--
                <button
                  mat-button
                  color="black"
                  (click)="
                    openGenreDialog(
                      movie.genre.names[0],
                      movie.genre.description
                    )
                  "
                >
                  Genre
                </button>
                <button
                  mat-button
                  color="white"
                  (click)="
                    openDirectorDialog(
                      movie.director.name,
                      movie.director.bio,
                      movie.director.birthyear
                    )
                  "
                >
                  Director
                </button>
                <button
                  mat-button
                  color="danger"
                  (click)="openSynopsisDialog(movie.title, movie.description)"
                >
                  Synopsis
                </button> -->
                <br />
                <button
                  mat-icon-button
                  style="width: auto"
                  color="danger"
                  (click)="toggleFav(movie)"
                >
                  <mat-icon
                    *ngIf="isFav(movie)"
                    style="transform: scale(3)"
                    color="danger"
                    >favorite</mat-icon
                  >
                  <mat-icon
                    *ngIf="!isFav(movie)"
                    style="transform: scale(1.5)"
                    color="primary"
                    >favorite_border</mat-icon
                  >
                </button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
